[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/harbor"]
	path = themes/harbor
	url = https://github.com/matsuyoshi30/harbor.git
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
[submodule "themes/bare"]
	path = themes/bare
	url = https://github.com/orf/bare-hugo-theme.git
[submodule "themes/etch"]
	path = themes/etch
	url = https://github.com/LukasJoswiak/etch.git
