[submodule "themes/etch"]
	path = themes/etch
	url = https://github.com/LukasJoswiak/etch.git
[submodule "themes/themes/ezhil"]
	path = themes/themes/ezhil
	url = https://github.com/vividvilla/ezhil.git
[submodule "themes/ezhil"]
	path = themes/ezhil
	url = https://github.com/vividvilla/ezhil.git
